@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="UTF-8">
    <title>OCart</title>

    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>

<body>
    <img src="~/img/Лого.png" alt="logo" class="logo" />

    <div class="container-top">
        <header>
            <ul>
                <li class="active"><a href="#home">Главная</a></li>
                <li><a href="#about-us">О нас</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="~/html/Gallere.html">Галерея</a></li>
                <li><a href="~/html/Commission.html">Заказы</a></li>
                <li><a href="~/html/Аuction.html">Аукционы </a></li>
                <span class="ellipse"></span>
            </ul>
        </header>

        <div class="content" id="home">
            <div>
                <div class="text">OCart Digital art Score</div>
                <a class="btn" asp-area="" asp-controller="Account" asp-action="Register">Присоедениться</a>
            </div>
            <img src="~/img/Картинка1.png" alt="картинка 1">
        </div>

        <div class="markers">
            <span class="item active"></span>
            <span class="item"></span>
            <span class="item"></span>
        </div>
    </div>

    <div class="container-middle" id="about-us">
        <div class="left">
            <div class="info">
                Немного информации
                <div class="subinfo">о нас</div>
            </div>

        </div>
        <div class="middle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam cupiditate debitis deleniti dolore dolorem excepturi fugit harum incidunt itaque modi, molestias pariatur porro quisquam, sit velit vitae? Accusamus distinctio fugiat possimus quos voluptatibus. Cum deleniti facere illum itaque modi tenetur unde! Accusamus consectetur cum debitis dolorem dolores itaque iusto modi necessitatibus optio recusandae? Consectetur corporis doloribus eius hic illo repellat reprehenderit. A consectetur dolor dolore eligendi possimus quod sint vel! Ab aspernatur beatae cumque distinctio earum, impedit inventore iure iusto magnam minus nemo perferendis praesentium quasi quisquam rem sequi suscipit? At, maxime nobis officia tempora tempore tenetur ullam voluptate!
        </div>
        <div class="right">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid at consequuntur dolorum molestias nostrum placeat! Ducimus expedita ipsum labore nemo officiis quae quam rem repudiandae sapiente voluptas. Aliquid atque consequuntur deserunt dolorum eligendi, obcaecati possimus provident unde veritatis vitae. Ad amet autem cumque cupiditate deleniti facere, incidunt libero magni nam optio perspiciatis quae quaerat, quam reprehenderit sunt vel, vitae. Culpa et ipsa minus obcaecati repudiandae tempora unde voluptatem voluptates.
            <span class="digital">
                Исследуй digital искусство!
            </span>
            <span class="btn" asp-area="" asp-controller="Account" asp-action="Register">Стать частью сообщеста</span>
        </div>

        <div class="markers">
            <span class="item"></span>
            <span class="item active"></span>
            <span class="item"></span>
        </div>
    </div>

    <div class="container-bottom" id="contacts">

        <div class="content">
            <img src="~/img/Картинка2.png" alt="картинка 1">
            <div>
                <div class="text">
                    <h1>Kонтакты</h1>
                </div>
                <div class="email">
                    <i class="far fa-envelope"></i>&nbsp;&nbsp; magic.tomsk.vka@gmail.com
                </div>
                <div class="container">
                    <a href="https://vk.com/marik___komarik" class="social"><i class="fab fa-vk"></i></a>
                    <a href="#" class="social"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="social"><i class="fab fa-whatsapp-square"></i></a>
                </div>

            </div>

            <div>
                <div class="text2">
                    ИССЛЕДУЙ DIGITAL ИСКУССТВО
                </div>
                <span class="btn" asp-area="" asp-controller="Account" asp-action="Register">Стать частью сообщеста</span>
            </div>

        </div>


        <div class="markers">
            <span class="item"></span>
            <span class="item "></span>
            <span class="item active"></span>
        </div>
    </div>
<script src="~/js/site.js"></script>
</body>
</html>
