@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{ ViewData["Title"] = "Log in"; }

<h2>@ViewData["Title"].</h2>
<html>
<head>
    <meta charset="UTF-8">
    <title>OCart</title>

    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <div class="window-registr">
        <div class="container">

            <div class="row">
                <div class="col-6 left">
                    
                </div>
                <div class="col-6 right">
                    <div class="text-right">
                       С возвращением!
                    </div>

                    <div style="text-align:center">Еще нет аккаунта?<a asp-area="" asp-controller="Account" asp-action="Register" style="color:palevioletred; height:20px">Регистрация</a></div>

                    <form class="form-horizontal">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group" style="height:35px">
                            <label class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                <input class="form-control" placeholder="Логин или e-mail" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group" style="height:100px">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input class="form-control" placeholder="Пароль" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div style="width:282px; padding: 0px 15px; font-size:20px; color:dimgrey">Забыли пароль?<br /> Мы отправим вам его на e-mail</div>
                        <div class="form-group" style="height:80px">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input class="form-control" placeholder="Укажите ваш e-mail" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        
                        <!--Кнопка-->
                        <div class="form-group" style="width:282px; height:80px; padding: 0px 15px;">
                            <div style="  background: linear-gradient(to left,#ef8da5, #ffffff)" class="col-md-offset-2 col-md-10">
                                <button href="#" type="submit" class="btn btn-default" style="font-size:22px; font-family:Akrobat">Получить пароль</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
