@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/Фон1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index:1;
    
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
}


.container-top header {
    position: absolute;
    top: 2rem;
    right: 4rem;
}

    .container-top header ul {
        display: flex;
    }

        .container-top header ul li {
            list-style-type:none;
            margin-right: 2rem;
            font-size: 1.3rem;
        }

    .container-top header .ellipse {
        border: 2px solid grey;
        border-radius: 10px;
        height: 1.3rem;
        width: 8rem;
    }
    a{
       text-decoration:none;
    }


.dil {
    display: flex;
    
     
}

.wrap-content {
     
    margin-left: 400px;
    margin-top: 100px;
    
      
}


.sqrt_2 {
    background-image: url(../img/Auction/pink.png);
    width: 800px;
    height: 700px;
    border: 6px solid #ff008f;
    list-style-type: none; /* Убираем маркеры */
    margin-top: 20px;
}

.red_sqrt {
    margin: -40px 0 0 -40px; /* 1-вверх 2-вправо 3- вниз 4 влево*/
    width: 800px;
    height: 700px;
    background-color: white;
}

/*маленькие квадраты*/

.wrap-content2 {
   
    margin-left: 20px;
    margin-top: 100px;
}

.sqrt_pink_small {
    background-image: url(../img/Auction/pink.png);
    width: 300px;
    height: 220px;
    border: 6px solid #ff008f;
    list-style-type: none; /* Убираем маркеры */
    margin-top: 20px;
}

.sqrt_white_small {
    margin: -40px 0 0 -40px; /* 1-вверх 2-вправо 3- вниз 4 влево*/
    width: 300px;
    height: 220px;
    background-color: white;
}

.part1 {
    display: flex;
    font-size: 30px;
    font-family: Akrobat;
    
    height: 60px;
    margin-left:10px;
}

.part2{
    background:pink;
    height:400px;
    text-align:center;
    font-weight:bold;
}

.part3{
    height:50px;
    margin-left:20px;
}

.crug {
    width: 50px;
    height: 50px;
    background: pink;
    border-radius: 50%;
}