@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/Register/register-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.window-registr {
    display: flex;
    width: 811px !important;
    height: 725px !important;
    background: url(../img/Register/ceam4ek.png) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*  filter: blur(5px); размытие*/
}

.left {
    margin-top: 70px;
    text-align: right;
    font-size: 50px;
    color: white !important;
    font-family: Akrobat;
    font-weight: 800;
    padding-right: 40px !important;
}

.text-right {
    text-align: left;
    font-family: Akrobat;
    font-weight: 900;
    font-size: 45px;
    padding-right: 50px !important;
}

input {
    border: none !important;
    border-bottom: 1px solid pink !important;
    font-family: Akrobat !important;
    font-size: 22px !important;
}

#inputGroupSelect04 {
    border: 1px solid pink !important;
}

custom-select {
    border: none !important;
    border-bottom: 1px solid pink !important;
}

option {
    border: none !important;
}
